{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row"  >
  <div class="col-sm-4"> 
    <h2>Categories</h2>
    {% for i in catalogs %}
    <a href="{{url_for('getCategory', category_id=i.id)}}"><p>{{i.name}}</p></a>
    {% endfor %}
    <a href="{{url_for('addCatalog')}}" > <h3> Create a New category </h3> </a>
  </div>
  <div class="col-sm-4">
    <h2>Latest Items</h2>
    {% for i in latestItems %}
    <a href="{{url_for('getItem', item_id=i.id)}}"><h3>{{i.name}}<p>{{i.category_id}}</p></h3></a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
